* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

body 
{
    background-color: black;
}

#denger 
{
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

#success 
{
    margin-top: 4px;
    margin-bottom: 4px;
    background-color:forestgreen;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.showing
{
    color: white;
}

#primary {
    color: blue
}

form {
    width: 450px;
    padding: 40px 82px;
    margin-top: 100px;
    margin-left: 43%;
    animation: move 2s infinite;
    border-radius: 20px;
}

@keyframes move {
    50% {
        box-shadow:  5px 5px 5px 5px blue;
    }
}

caption
{
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

input[type=text], input[type=email] 
{
    background-color: #f2f4f6;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    width: 290px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 15px;
}

.inputbutton {
    width: 290px;
    background-color: #04AA6D;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 15px 0;
    transition: background-color 0.4s;
    border-radius: 15px;
}

.inputbutton:hover {
    opacity: 0.8;
}